<div class="card__actions">
  <% if (staffs.workStatus===null || staffs.workStatus===false) { %>
    <form action="/muster/checkin" method="GET">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button class="btn">Điểm Danh</button>
    </form>
    <% } else { %>
      <form action="/muster/checkout" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn">Tan Ca</button>
      </form>
      <% } %>
        <form action="/muster/off" method="GET">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn">Nghỉ Phép</button>
        </form>
</div>